<br><br>
<div>
	<details>
		<summary>
			How can i record my screen with CaptureMe?
		</summary>
		<div>
      <p>Step 1: &nbsp Enable your audio settings, Microphone, and Computer Sound based on your requirement<br>
        Step 2: &nbsp Click on the <a href="index.php">get started- it's free </a>button<br>
        Step 3: &nbsp Select your screen and enable "share system sound" checkbox on popup screen <br>
        Step 4: &nbsp Click on Start recording <br>
        Step 5: &nbsp Click on stop recording when you are done and download.
       </p>
		</div>
	</details>

	<details>
		<summary>
			Is CaptureMe supporting mobiles?
		</summary>
		<div>
			<p>Currently, CaptureMe does not support mobile devices and, the Safari web browser due <br>
        to technical limitations. Try <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>, <a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a>, and <a href="https://www.opera.com/" target="_blank">Opera </a>for<br> seamless screen recording.
       </p>
		</div>
	</details>
	<details>
		<summary>
			Is CaptureMe secure to use?
		</summary>
		<div>
			<p>
        Yes, Absolutely! CaptureMe is secure to use. No one can access your screen recordings <br> or your computer.
      </p>
		</div>
	</details>
	
</div>