<footer class="footer-content fixed-bottom">
    <small id="warning-messsage">Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>, CaptureMe. All rights reserved.</small>
    <small><a href="privacy.php">Privacy Policy</a></small> | <small><a href="feedback.php"><i class="fa fa-commenting-o" aria-hidden="true"></i> Send Feedback</a></small> |
    <small><a href="https://www.facebook.com/captureme.online" target="_blank">Follow Us</a></small>
  </footer>