 <!-- Nav Bar -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <!-- <a href="index.php" class="navbar-brand">
      <img src="assets/images/logo.webp" height="32px" tabindex="8" alt="this is CaptureMe logo">
    </a> -->
    <a href="index.php" style="text-decoration: none;">
      <h4 class="brand">Capture<span class="brand-me">Me.</span> </h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="index.php">Get Started</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="features.php">Features</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="faq.php" data-placement="bottom" data-toggle="tooltip" title="Frequently Asked Questions">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="donate.php" data-placement="bottom" data-toggle="tooltip" title="Want to help ? Make a donation!">Donate</a>
          </li>
  
  
  
      </ul>
    </div>
  </nav>